application/config/config(remoto).php
application/config/database(remoto).php
application/config/routes - copia (2).php
application/config/routes - copia.php
application/config/tallerdeajedrez_actual.sql
application/controllers/Home2.php
application/views/contacto_view(remoto).php
application/views/fotos_view - copia.php
application/views/menu_view - copia.php
assets/video/