nav {
	text-align: left;
	background-color: #C3EEFB;
	width: 100%;
	height: 30px;
	border-bottom: 2px solid darkblue;
}

#menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu>li {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
}

#menu a {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: darkblue;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	transition-property: background-color;
	transition-duration: 500ms;
	background-color: #75B1C7;
	font-weight: bold;
}

#menu a:hover {
	background-color: #C3EEFB;
}

#submenu1 {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 109px;
	left: 104px;
	display: none;
	width: 100px;
	height: auto;
	list-style: none;
}

#submenu1>li {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
}

#submenu1 a {
	transition: background-color .5s;
	background-color: #75B1C7;
}

#submenu1 a:hover {
	background-color: #C3EEFB;
}

#uno:hover #submenu1 {
	display: inline-block;
}

#submenu2 {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 109px;
	left: 313px;
	display: none;
	width: 100px;
	height: auto;
	list-style: none;
}

#submenu2>li {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
}

#submenu2 a {
	transition: background-color .5s;
	background-color: #75B1C7;
}

#submenu2 a:hover {
	background-color: #C3EEFB;
}

#dos:hover #submenu2 {
	display: inline-block;
}