vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Jan 2015 21:47:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|pgn4web-2.82/live-compact.css pgn4web-2.82/fonts/pgn4web-fonts.css pgn4web-2.82/board.html
vti_author:SR|NAZARENO-PC1\\Nazareno
vti_modifiedby:SR|Nazareno-PC\\Nazareno
vti_timecreated:TR|05 Jan 2015 20:06:42 -0000
vti_cacheddtm:TX|06 Jan 2015 21:47:24 -0000
vti_filesize:IR|802
vti_cachedlinkinfo:VX|S|ChessSansPiratf.eot S|ChessSansPiratf.eot S|ChessSansPiratf.woff S|ChessSansPiratf.ttf S|ChessSansPiratf.svg
vti_cachedsvcrellinks:VX|FSUS|Taller\\ de\\ Ajedrez/pgn4web-2.82/fonts/ChessSansPiratf.eot FSUS|Taller\\ de\\ Ajedrez/pgn4web-2.82/fonts/ChessSansPiratf.eot FSUS|Taller\\ de\\ Ajedrez/pgn4web-2.82/fonts/ChessSansPiratf.woff FSUS|Taller\\ de\\ Ajedrez/pgn4web-2.82/fonts/ChessSansPiratf.ttf FSUS|Taller\\ de\\ Ajedrez/pgn4web-2.82/fonts/ChessSansPiratf.svg
