p { text-align: justify; }
h1, h2, h3, h4, h5, h6 { 
    color: #45A1FF; 
    text-align: center;
}
#logotipo { color: #45A1FF; }
i.tilde { color: lightgreen; font-size: 150%; margin: 10px; }
/*a { color: #9A9D90; }
a:hover { outline: 1px solid #45A1FF; text-decoration: none; color: white;}
body, .modal-content { background-color: #343A40; color: white; }*/
/*.sticky-top { opacity: .8; }*/
.fijo { position: fixed; }
.pie {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.contenedor-imagen img {
    -webkit-transition: all .9s ease; /* Safari y Chrome */
    -moz-transition: all .9s ease; /* Firefox */
    -o-transition: all .9s ease; /* IE 9 */
    -ms-transition: all .9s ease; /* Opera */
    transition: all .9s ease;
    width: 100%;

}
.contenedor-imagen:hover img {
    -webkit-transform:scale(1.12);
    -moz-transform:scale(1.12);
    -ms-transform:scale(1.12);
    -o-transform:scale(1.12);
    transform:scale(1.12);
}

.contenedor-imagen {
    cursor: pointer;
    /* Igual que en .card-img-top (Bootstrap 4.1)*/
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    overflow: hidden;
}
/* Modifican el estilo de Bootstrap: */
.tooltip{opacity:1!important;}


.sticky-top {
    /*transition: top 0.5s ease-in-out;*/ /* <-- También sirve */
    transition-property: all;
    transition-duration: .5s;
}

.nav-up {
    top: -100px;
}

.partidas {
    display: none;
}
.card.border-info, .flecha {
    cursor: pointer;
}
footer a {
  text-decoration: none!important;
}

a.nav-link {
  border: 1px solid white;
  border-radius: 5px;
  transition-property: all;
  transition-duration: .5s;
}

a.nav-link:hover {
  border: 1px solid #007BFF;
}

.boton-top {
    position: fixed;
    top: 500;
    right: 0;
}